body { background:#808080; }
.header-container { background-image: url(../images/header-bg.gif); }
.products-grid .product-name a,
.products-list .product-name a { color:#ff7200; }
.product-collateral h2 { color:#ff7200; }
.quick-access li { background-image:url(../images/pipe-top_toolbar.gif); }
.shop-access a { color:#ff7200; }
.form-language label { color:#ff7200; }
.header .form-search { background-image: url(../images/icon-zoom.gif); }
.header .form-search input.input-text { border-color: #b0723f; }
.main-container { background-color: #ffe7d2; background-image: url(../images/content-bg.gif); }
.page-head h3, .page-title h3, .page-title h1 { color:#ff7200; }
#cart-content { background: #292a34; }
#cart-content h6 { color:#ff7200; }
.block .block-title strong { color:#ff7200; }
.cart-collaterals h2 { color:#ff7200; }
h4, h3, .category-head h2 { color:#ff7200; }
#nav ul li a:hover { background-color: #ff7200; background-image: url(../images/nav-item-bg.gif); }
.block-account .block-title span { color:#ff7200; }
.price-box .price { color:#777; }
