body { background:#808080; }
.fieldset .legend, .fieldset { color: #ceac01; }
.header-container { background-image: url(../images/header-bg.gif); }
.products-grid .product-name a,
.products-list .product-name a { color:#ceac01; }
.product-collateral h2 { color:#ceac01; }
.quick-access li { background-image:url(../images/pipe-top_toolbar.gif); }
.shop-access a { color:#b09301; }
.form-language label { color:#b09301; }
.header .form-search { background-image: url(../images/icon-zoom.gif); }
.header .form-search input.input-text { border-color: #a3923f; }
.main-container { background-color: #ecebe7; background-image: url(../images/content-bg.gif); }
.page-head h3, .page-title h3, .page-title h1 { color:#ceac01; }
#cart-content { background: #292a34; }
#cart-content h6 { color:#b09301; }
.block .block-title strong { color:#ceac01; }
.footer-container {}
.cart-collaterals h2 { color:#ceac01; }
h4, h3, .category-head h2 { color:#ceac01; }
#nav ul li a:hover { background-color: #ecc503; background-image: url(../images/nav-item-bg.gif); }
.block-account .block-title span { color:#ceac01; }
.price-box .price { color:#777; }
